.hat {
  background-color: red;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.hattext {
  color: rgb(245, 243, 243);
  position: absolute;
}

.menu {
  display: flex;
  justify-content: center;

}

.menubutton {
  margin-top: 20px;
  width: 100px;
  height: 70px;
}